
#container {
    display:grid;
    width: 480px;
    height:480px
}

.gridcell {
    height: auto;
    width: auto;
    border: 1px solid black;
}

.ButtonClicked {
    color: grey;
    background-color: rgb(99, 99, 160);
}